<form action="/auth/cadastro" method="post">
  <div>
    <label for="">E-mail</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label for="">Senha</label>
    <input type="password" name="senha" />
  </div>
  <div>
    <label for="">Confirme a Senha</label>
    <input type="password" name="confirmaSenha" />
  </div>
  <input type="submit" value="Cadastrar" />
  <p>Já tem uma conta?<a href="/auth/login">Faça login aqui</a></p>
</form>