<form action="/auth/login" method="post">
  <div>
    <label for="">E-mail</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label for="">Senha</label>
    <input type="password" name="senha" />
  </div>
  <input type="submit" value="Entrar" />
  <p>Não tem uma conta?<a href="/auth/cadastro">Cadastre-se aqui</a></p>
</form>